<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="/img/weather.png" >
</head>
<body>
    <div class="main-content">
        {{>header}}
        <p>this site was created for a class.</p>
         <img src="img/300head.jpeg" class="portrait">
    </div>
    
    {{>footer}}
</body>
</html>